.login-container {
  margin-top: 4rem;
  font-family: "Poppins", sans-serif;
}

.signup-container {
  margin-top: 1.5rem;
  font-family: "Poppins", sans-serif;
}

.input-bg {
  background-color: #f3f3f3;
  color: #dbd5d5;
  font-size: 0.9rem;
  height: 2.9rem;
}
.custom-btn {
  padding: 0.6rem;
  border-radius: 4px;
}

.custom-btn-blue {
  border: 2px solid #b3e0ff;
  background-color: #b3e0ff;
  color: #fff;
  padding: 14px;
}

.custom-btn-white {
  border: 2px solid #e5e7e9;
  background-color: #fdfeff;
  color: #000;
  padding: 14px;
}

.socialDesktop {
  display: block;
}
.socialMobile {
  display: none;
}
.or {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  grid-column-gap: 1.2rem;
  align-items: center;
}

.or:before,
.or:after {
  content: "";
  display: block;
  height: 1px;
  background-color: currentColor;
}
@media only screen and (max-width: 450px) {
  .socialDesktop {
    display: none;
  }
  .socialMobile {
    display: block;
    margin: auto;
  }
  .login-container {
    margin-top: 1rem;
  }

  .card {
    border: none !important;
  }
  .card-body {
    padding: 1.4rem 0 !important;
  }
  .shadow {
    box-shadow: none !important;
  }
}
