.profile-image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
}
.borderRight {
  border-right: 3px solid #c3c3c3;
}

.count-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container {
  width: 76vw !important;
}
.custom-btn {
  padding: 0.6rem;
  border-radius: 4px;
}
.custom-btn-white {
  border: 2px solid #e5e7e9;
  background-color: #fdfeff;
  color: #000;
  padding: 14px;
}

.card {
  cursor: pointer;
}

.upload-box {
  height: 330px;
  width: 330px;
  border: 4px dotted gray;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-btn-pink {
  border: 2px solid #ed2a7e;
  background-color: #ed2a7e;
  color: #fff;
  padding: 14px;
  width: 160px;
  text-align: center;
  cursor: pointer;
}

.uploadInputs{
  border: none !important;
  border-bottom: 1px solid #ed2a7e !important;
  outline: none;
  border-radius: 0 !important;
  box-shadow: none !important;
}


.dropzoneOverlay {
text-align: center;
cursor: pointer;
margin-bottom: 50px;
}
.FileUpload {
opacity: 0;
/* position: relative; */
z-index: 1;
}

@media only screen and (max-width: 450px) {
  .container {
    width: 100vw;
    padding: 0 !important;
  }
  .stats {
    gap: 1 !important;
    margin-top: 2rem;
  }
  .buttons {
    justify-content: space-between !important;
  }
  .uploadModal{
  padding: 20px;
}
.upload-box {
  height: 280px;
  width: 285px;
}
}
